    
    body {
      font-family: 'Proxima Nova','proxima-nova-1','proxima-nova-2', 'Helvetica Neue', Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    section, header {
      display: block;
    }

    #back {
    position: absolute;
  }

    #container {
      position: relative;
      width: 900px;
      margin: 10px auto;
    }

    section {
      width: 900px;
      height: 540px;
      margin-bottom: 80px;
      position: relative;
      z-index: 1;
    }

    #grid {
      width: 900px;
      height: 540px;
      position: absolute;
      display: none;
    }

    #grid div {
      float: left;
      width: 99px;
      height: 59px;
      border-left: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
    }

    #grid .target {
      width: 300px;
      height: 180px;
      background: hsla( 0, 100%, 50%, 0.2 );
      position: absolute;
      left: 300px;
      top: 180px;
    }

    h1, h2, p {
      margin: 0 0 15px;
    }

    section header {
      padding: 0 10px;
    }

    section h2 {
      font-size: 28px;
      line-height: 30px;
    }

    p {
      background: hsla( 0, 0%, 0%, 0.3 );
      height: 15px;
    }

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height:200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
    
    border-color: orange;
    border-width: 8px;
    border-style: transparent;
    border-radius: 50%;

    box-shadow: 0 0 128px red;
}

    .w3, .w6 { 
      position: absolute;
      margin: 0 10px;
      padding-top: 15px;
    }

    .w3 { width: 280px; }
    .w3.box { width: 250px; }

    .h3.box { height: 150px; }
    .h3.box .img { line-height: 150px; }

    .h6.box { height: 315px; }
    .h6.box .img { line-height: 315px; }

    .w6 { width: 580px; }
    .w6.box { width: 550px; }

    .x3 { left: 300px; }
    .x6 { left: 600px; }

    .y3 { top: 180px; }
    .y6 { top: 360px; }

    .box {
      padding-top: 0;
      border: 5px solid;
      padding: 10px;
    }

    .img {
      background: hsla( 0, 0%, 0%, 0.3 );
      color: white;
      text-align: center;
      height: 100%;
      font-size: 100px;
    }

    /* nav */

    #nav {
      padding: 0;
      margin: 0 auto 10px;
      overflow: auto;
      width: 880px;
      position: relative;
      z-index: 100;
    }

    #nav li {
      list-style: none;
      float: left;
      font-weight: bold;
    }

    #nav li a {
      text-decoration: none;
      display: block;
      background: #EEF;
      background: hsla( 0, 0%, 90%, 0.85 );
      color: blue;
      padding: 8px 15px;
    }

    #nav li a:hover {
      background: red;
      color: white;
    }
    


    /* Section-specific layout */

    #solar-system h1 {
      font-size: 100px;
      font-weight: 600;
      line-height: 105px;
    }

    #gas-giants header,
    #asteroid-belt header,
    #terrestrials header { padding-top: 0;}

    #gas-giants h1 {
      line-height: 85px;
      font-size: 92px;
    }

    #asteroid-belt header,
    #terrestrials header { padding: 0;}

    #asteroid-belt h1 {
      font-size: 150px;
      line-height: 180px;
    }

    #terrestrials h1 {
      font-size: 110px;
      line-height: 105px;
    }

    #sun h1 {
      font-size: 160px;
      line-height: 180px;
    }

    /* Section colors */

    #solar-system { color: hsl( 0, 90%, 45% ); }
    #solar-system p, #solar-system .img { background: hsla( 0, 90%, 45%, 0.3 ); }

    #gas-giants { color: hsl( 72, 90%, 40% ); }
    #gas-giants p, #gas-giants .img { background: hsla( 72, 90%, 40%, 0.3 ); }

    #asteroid-belt { color: hsl( 144, 90%, 45% ); }
    #asteroid-belt p, #asteroid-belt .img { background: hsla( 144, 90%, 45%, 0.3 ); }

    #terrestrials { color: hsl( 216, 90%, 45% ); }
    #terrestrials p, #terrestrials .img { background: hsla( 216, 90%, 45%, 0.3 ); }

    #sun { color: hsl( 288, 90%, 45% ); }
    #sun p, #sun .img { background: hsla( 288, 90%, 45%, 0.3 ); }



    
    /* step 2 */

    .csstransforms #content {
      position: absolute;
      width: 900px;
      height: 540px;
    }

    .csstransforms section {
      position: absolute;
    }

    .csstransforms #gas-giants {
      -webkit-transform: scale(0.3333);
         -moz-transform: scale(0.3333);
           -o-transform: scale(0.3333);
              transform: scale(0.3333);
    }

    .csstransforms #asteroid-belt {
      -webkit-transform: scale(0.1111);
         -moz-transform: scale(0.1111);
           -o-transform: scale(0.1111);
              transform: scale(0.1111);
    }

    .csstransforms #terrestrials {
      -webkit-transform: scale(0.037);
         -moz-transform: scale(0.037);
           -o-transform: scale(0.037);
              transform: scale(0.037);
    }

    .csstransforms #sun {
      -webkit-transform: scale(0.0123456);
         -moz-transform: scale(0.0123456);
           -o-transform: scale(0.0123456);
              transform: scale(0.0123456);
    }
    
    

    /* step 3 */
    
    /* set arbitrary height on proxy scroller */
    .csstransforms #scroller { height: 4000px; }
    
    /* prevent content from scrolling */
    .csstransforms #wrap { 
      position: fixed; 
      width: 100%;
    }
    
    